*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins','sans-serif';
}

.container{
    display:flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: black;
}
.container #cal{
    padding: 56px 105px;
    min-height: 290px;
    background-color: #cdd8fd;
    box-shadow: rgb(117, 255, 4) 0px 2px 4px, rgb(255, 242, 0) 0px 2px 4px;
}
.container label{
    font-size: 35px;
    line-height: 78px;
}
#temp{
    width: 110px;
    height: 34px;
    border-radius: 5px;
    margin:12px;
    padding:8px;
    font-size:20px;
    font-weight: 500;
    border: none;
    outline: none;
}
#tempdiff{
    width:140px;
    height:40px;
    border-radius: 5px;
    margin: 12px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
}
#submit{
    width: 100px;
    border-radius: 5px;
    margin: 30px 0 20px 0;
    font-size: 18px;
    background-color: rgb(218 229 220);
    padding: 5px;
    transition: all 0.5s ease;
}
#submit:hover{
    background-color: aqua;
    cursor: pointer;
}
#result{
    font-size: 27px;
}
@media (max-width: 1000px){
.container #cal{
padding: 36px 75px; ;
}
.container label{
    font-size: 26px;
}
}
